<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Great Job!
    <form method="post" action="/add_tweet">
        <div>
            <label>Add a title!</label>
            <div>
                <input  name="title" id="add_tweet1Str" required>
            </div>
        </div>

        <div>
            <label>Add a text!</label>
            <div>
                <input  name="text" id="add_tweet2Str" required>
            </div>
        </div>

        <input type="submit" value="Tweet!">

    </form>

</body>
</html>